{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Välkommen" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

    <div style="border-bottom:1px solid #ccc; padding: 20px;margin-bottom: 30px " class="clearfix">
        <div style="float:left; width: 100px; height: 100px; border:1px solid black">
        abc
        </div>
        
        <div style="margin-left:140px; padding: 20px 0">
            <p style="font-size:1.1em;font-weight:bold;padding:0; margin:0">Daniel has...</p>
            <p style="font-size:2em;padding:0; margin:0">Walked the moon</p>
        </div>
    </div>
    
    <h1>Welcome to <em>daretodo.it</em></h1>
    
    <p>
        <em>Daretodo.it</em> is a social website where you can share your personal real life achievements with your friends and the rest of the world.
    </p>
        
    
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
