{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Välkommen" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


    <div style="height: 20px"></div>

    
    
    <div class="left-column" style="width:50%; float: left; border-right: 1px solid #ccc; padding-right:15px">
        <h1>Welcome to daretodo.it</h1>
        
        <p>
            Daretodo.it is a social website where you can share your personal real life achievements with your friends and the rest of the world.
        </p>
        
               
        
        <div style="text-align: center; margin-top: 30px">
            
            <a href="{% url acct_signup %}"><img src="{{ STATIC_URL }}img/register_now_button.png" alt="Register now!" /></a>
            <p>Registering is totally free. Begin sharing your<br /> achievements today!</p>
        
        
        </div>
        
        
        <div style="clear:both"></div>
    </div>
    
    
    <div class="right-column" style="width:45%; float: right">
        

        <div style="padding: 12px;margin-bottom: 10px; background: #105deb; margin-right: 15px; color:white" class="clearfix">
            <div style="float:left; width: 50px; height: 50px; border:1px solid black;background:#f1f1f1">
            
            </div>
            
            <div style="margin-left:60px; padding: 5px 0">
                <p style="font-size:1.1em;font-weight:bold;padding:0; margin:0">Daniel has...</p>
                <p style="font-size:1.2em;padding:0; margin:0">Walked the moon</p>
            </div>
        </div>    


        <div style="padding: 12px;margin-bottom: 10px; background: #95e899; margin-left: 15px" class="clearfix">
            <div style="float:right; width: 50px; height: 50px; border:1px solid black;background:#f1f1f1">
            
            </div>
            
            <div style="margin-right:60px; padding: 5px 0">
                <p style="font-size:1.1em;font-weight:bold;padding:0; margin:0">Daniel has...</p>
                <p style="font-size:1.2em;padding:0; margin:0">Walked the moon</p>
            </div>
        </div>    


        <div style="padding: 12px 12px;margin-bottom: 10px; background: #ff0000; margin-right: 15px; color:white" class="clearfix">
            <div style="float:left; width: 50px; height: 50px; border:1px solid black;background:#f1f1f1">
            
            </div>
            
            <div style="margin-left:60px; padding: 5px 0">
                <p style="font-size:1.1em;font-weight:bold;padding:0; margin:0">Daniel has...</p>
                <p style="font-size:1.2em;padding:0; margin:0">Walked the moon</p>
            </div>
        </div>    
        
    
    </div>
    

    <div style="clear:both"></div>

{% endblock %}
